* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* Deixa a rolagem suave ao clicar nos links do menu */
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--cor-texto-principal);
    line-height: 1.6;
}

h1{
    color: var(--cor-texto-claro)
}

h2{
    margin-bottom: 15px;
    color: var(--cor-texto-principal);
}

p {
    margin-bottom: 15px;
}

ul {
    margin-left: 20px;
    margin-bottom: 15px;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}