:root {
    /* Cores Principais do Layout*/
    --cor-estrutural: #0f3460;
    --cor-fundo-main: #f4f1ea;

    /*Texto */
    --cor-texto-principal: #333333;
    --cor-texto-secundario: #555555;
    --cor-texto-claro: #ffffff;

    /*form*/
    --cor-primaria: #007bff;        /* botão*/
    --cor-primaria-hover: #0056b3;  /*hover do botão*/
    --cor-borda: #cccccc;
    --cor-fundo-bloco: #ffffff;     

    /*banner*/
    --cor-banner-fundo: #ffcc00;
    --cor-banner-texto: #111111;
}